header{
    position:relative;
    z-index:10;
}

main{
    width: 100%;
}

main section{
    display: flex;
    flex-direction: column;
}


main section article{
    margin-left: 25vw;
    display: flex;
    flex-direction: row;
}

.forme{
    width: 10%;
    height: 50vh;
    background: #000;
    border-radius: 0 1em 1em 0;
}


.triangle-code{
    border-radius: 0.5em 0 0 0;
    height : 0vh;
    width : 0;
    border-top : 50vh solid black;
    border-left : 10vw solid transparent;
}

.forme1{
    width: 10%;
    height: 50vh;
    background: #000;
    border-radius: 0 1em 1em 0;
}


.triangle-code1{
    border-radius: 0.5em 0 0 0;
    height : 0vh;
    width : 0;
    border-top : 50vh solid black;
    border-left : 10vw solid transparent;
}

